@tailwind base;
@tailwind components;
@tailwind utilities;





.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background: rgb(55, 65, 81); 
  z-index: -10;
}
